<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="#" />
  <link rel="stylesheet" href="style.css">
  <title>VanillaJS App</title>
</head>
<body>
  <img src="https://raw.githubusercontent.com/Sharmaz/enchilada/refs/heads/main/media/enchilada-js-logo.svg" width="250" alt="enchiladajs logo"/>
  <div class="card">
    <button id="counter" type="button"></button>
  </div>
  <script type="module" src="/index.js"></script>
</body>
</html>
